<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<link rel="stylesheet" href="css/style.css">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Penn WiCS</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item">
          <a class="nav-link active" href="#">Browse</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/create">Create Profile</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
      </li>
	  </ul>
  </div>
</nav>

<h1 class="create">Browse Directory</h1>
<% for(var i=0; i < results.length; i+=2) {%>
	<div class="row"> 
		<div class="col-lg-6">
			<div class="col-lg-12 left">
				<h2 class="profile-card"><%= results[i].firstName%> <%= results[i].lastName%></h3> 
				<h3 class="profile-card">Contact: <%= results[i].email%></h3> 
				<h3 class="profile-card">Major: <%= results[i].major%></h3> 
				<h3 class="profile-card">Year: <%= results[i].year%></h3> 
				<h3 class="profile-card">School: <%= results[i].schools%></h3> 
				<h3 class="profile-card">Hometown: <%= results[i].hometown%></h3> 
				<h3 class="profile-card">Courses Taken: <%= results[i].coursesTaken%></h3> 
				<h3 class="profile-card">Courses Currently In: <%= results[i].coursesCurr%></h3> 
				<h3 class="profile-card">Involve: <%= results[i].involve%></h3> 
				<h3 class="profile-card">Interests: <%= results[i].interests%></h3> 
			</div>
		</div>
		<% if(i + 1 < results.length) {%>
		<div class="col-lg-6">
			<div class="col-lg-12 left">
				<h2 class="profile-card"><%= results[i+1].firstName%> <%= results[i+1].lastName%></h3> 
				<h3 class="profile-card">Contact: <%= results[i+1].email%></h3> 
				<h3 class="profile-card">Major: <%= results[i+1].major%></h3> 
				<h3 class="profile-card">Year: <%= results[i+1].year%></h3> 
				<h3 class="profile-card">School: <%= results[i+1].schools%></h3> 
				<h3 class="profile-card">Hometown: <%= results[i+1].hometown%></h3> 
				<h3 class="profile-card">Courses Taken: <%= results[i+1].coursesTaken%></h3> 
				<h3 class="profile-card">Courses Currently In: <%= results[i+1].coursesCurr%></h3> 
				<h3 class="profile-card">Involve: <%= results[i+1].involve%></h3> 
				<h3 class="profile-card">Interests: <%= results[i+1].interests%></h3> 
			</div>
		</div>
	</div>
	<% } %>
	<br/>  
<% } %>
<br/>
<hr/>
<h3>&copy; WiCS Mentorship</h3>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script src="https://fb.me/react-15.0.0.js"></script>
<script src="https://fb.me/react-dom-15.0.0.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>